# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Data files
data/*.csv
data/*.RData

# R package files
*.tar.gz
*.zip

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 